.App {
  text-align: center;
}
#id1{
  background-color: rgb(0, 180, 180);
}
#id2{
  background-color:blueviolet;
  height: 60vh;
  display:flex;
  justify-content: center;
  align-items: center;  
}



#id3{
  background-color: chocolate;
  height:60vh
}

#id4{
  background-color:rgb(94, 94, 94);
  height:20vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
#id6{
  
  height:80vh;
  
}
#id5{
  background-color:cornflowerblue;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

#navid{
  display: flex;
  justify-content: center;
  
}
#imgbtn{
  height: 35vh;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 4px red;
}
#btnid{

  border-radius: 50%;
  box-shadow: 0px 10px 10px 1px rgb(202, 1, 1);
  background-color: black;
}
#btnid1{
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 5px 4px rgb(0, 255, 98);
  margin-right: 10%;
  height: 5vh;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
}
#btnid2{
  border-radius: 10px 10px 10px 10px;
  background-color: gold;
  height: 5vh;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
}

#boxid{
  background-color: black;
  color:white;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size:2rem;
  width: 20rem; 
}
#boxid2{
  background-color: rgb(255, 255, 255);
  
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size:2rem;
  width: 3rem; 
}
#boxid2 p1{
  padding-bottom: 20px;
}
#boxid p:hover{
  background-color: white;
  color:black;
  width: 100%;
}

#boxid p1{
  padding-bottom: 20px;
}

#project{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: center;
  background-color: rgb(32, 32, 32);
  color: white;

}
#project p{
  font-size: 20px;
  margin-left: 40px;
  font-weight: 400;
  color:white;
}
#project p1{
  font-size:15px;
  color: aliceblue;
  margin-bottom: 3px;
 
}
#interest{
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: left;
  flex-direction: column;
 color: white;
 background-color: rgb(32, 32, 32);
 font-size: 0.9rem;
}

#waste{
  background-color: rgb(32, 32, 32);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
#details{
     display: flex;
     flex-direction: column;
     text-align: left;
     justify-content: center;
     align-items:baseline;
     background-color: rgb(32, 32, 32);
     color: white;
     
}

#details h1{
  margin-left: 2rem;
  font-size: 2.2rem;
}

p5{
  font-size: 2rem;
  font-weight:lighter;
  color:cadetblue;
  margin-left: 3%;
}

#work{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  color: white;
  background-color: rgb(32, 32, 32);
}
#work h1{
  margin-left:40px;
}
#skill{
  background-color: rgb(32, 32, 32);
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(1000px)) ;
  justify-content: center;
  align-items: center;

}
#skill .card{
  margin-left: 30px;
  font-weight: bold;
  color: azure;
  font-size: 2rem;
  height: 60%;
  width: 20rem;
  justify-content: center;
  box-shadow: 0px 0px 5px 2px gainsboro;
}
#skill #card1{
  background-image:linear-gradient(to left,rgb(3, 181, 187) 10%,blue 30% ) ;
}
#skill #card2{
  background-image:linear-gradient(to left,rgb(3, 181, 187) 10%,blue 30% ) ;
}
#skill #card3{
  background-image:linear-gradient(to left,rgb(3, 181, 187) 10%,blue 50% ) ;
}
#skill #card4{
  background-image:linear-gradient(to left,rgb(3, 181, 187) 20%,blue 40% ) ;
}

@media screen and (max-width: 292px) {
  
 

}








